<header>
    <nav class="navbar">
    
        <a class="logo" href="{{ url_for('home') }}">
            FishTech
        </a>
    
        <ul>
            <li>
                <a href="{{ url_for('fish_collection') }}">Explore</a>
            </li>
    
            <li>
                <a href="habitat-builder.html">Build</a>
            </li>
    
            <li>
                <a href="{{ url_for('home') }}#about">About</a>
            </li>
    
            <li>
                <a class="login-btn" href="login.html">
                    Sign In
                </a>
            </li>
        </ul>
    
    </nav>
</header>