<header>
    <nav class="navbar">
    
        <a class="logo" href="{{ url_for('home') }}">
            FishTech
        </a>
    
        <ul>
            <li>
                <a href="{{ url_for('fish_collection') }}">Explore</a>
            </li>
    
            <li>
                <a href="habitat-builder.html">Build</a>
            </li>
    
            <li>
                <a href="{{ url_for('home') }}#about">About</a>
            </li>
    
            {% if session.get('username') %}
            <li>
                <a class="login-btn" href="#">
                    {{ session['username'] }}
                </a>
            </li>
            
           <li>
                <a class="logout-btn" href="{{ url_for('logout') }}">
                    Logout
                </a>
            </li>
            
            {% else %}
            <li>
                <a class="login-btn" href="{{ url_for('login') }}">
                    Sign In
                </a>
            </li>
            {% endif %}
        </ul>
    
    </nav>
</header>